<section id="social">
    <a target="_blank" href="http://github.com/ananya77041"><span class="ion-social-github"></span></a>
    <a target="_blank" href="http://linkedin.com/in/ananyamishra1"><span class="ion-social-linkedin"></span></a>
    <a target="_blank" href="http://instagram.com/ananya77041"><span class="ion-social-instagram"></span></a>
</section>
